.region-content {
  table {
    width: 100%;
    border: 1px solid #333;
    margin-top: 10px;
    margin-bottom: 10px;

    td,
    th {
      border: 1px solid #333;
      padding: 4px;
    }

    th {
      font-weight: bold;
    }
  }
}
